.DS_Store
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.sln.docstates
.idea/
*.sln.iml
*.idea.projectview
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
[Pp]ublish/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
Thumbs.db
